<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>爱沙尼亚的 -爱沙尼亚</key>
	<string>et-EE</string>
	<key>Faroese- 法罗群岛</key>
	<string>fo-FO</string>
	<key>波斯语 -伊朗王国</key>
	<string>fa-IR</string>
	<key>芬兰语 -芬兰</key>
	<string>fi-FI</string>
	<key>法国 -比利时</key>
	<string>fr-BE</string>
	<key>法国 -加拿大</key>
	<string>fr-CA</string>
	<key>法国 -法国</key>
	<string>fr-FR</string>
	<key>法国 -卢森堡</key>
	<string>fr-LU</string>
	<key>法国 -摩纳哥</key>
	<string>fr-MC</string>
	<key>法国 -瑞士</key>
	<string>fr-CH</string>
	<key>加利西亚</key>
	<string>gl-ES</string>
	<key>格鲁吉亚州</key>
	<string>ka-GE</string>
	<key>德国 -奥地利</key>
	<string>de-AT</string>
	<key>德国 -德国</key>
	<string>de-DE</string>
	<key>德国 -列支敦士登</key>
	<string>de-LI</string>
	<key>德国 -卢森堡</key>
	<string>de-LU</string>
	<key>德国 -瑞士</key>
	<string>de-CH</string>
	<key>希腊</key>
	<string>el-GR</string>
	<key>希伯来 -以色列</key>
	<string>he-IL</string>
	<key>北印度的 -印度</key>
	<string>hi-IN</string>
	<key>匈牙利的 -匈牙利</key>
	<string>hu-HU</string>
	<key>冰岛</key>
	<string>is-IS</string>
	<key>印尼</key>
	<string>id-ID</string>
	<key>意大利 -意大利</key>
	<string>t-IT</string>
	<key>意大利 -瑞士</key>
	<string>it-CH</string>
	<key>日本 -日本</key>
	<string>ja-JP</string>
	<key>卡纳达语 -印度</key>
	<string>kn-IN</string>
	<key>Kazakh-哈萨克</key>
	<string>kk-KZ</string>
	<key>Konkani-印度</key>
	<string>kok-IN</string>
	<key>韩国 -韩国</key>
	<string>ko-KR</string>
	<key>Kyrgyz-哈萨克</key>
	<string>ky-KZ</string>
	<key>拉脱维亚的 -拉脱维亚</key>
	<string>lv-LV</string>
	<key>立陶宛 -立陶宛</key>
	<string>lt-LT</string>
	<key>马其顿 -FYROM</key>
	<string>mk-MK</string>
	<key>马来 -汶莱</key>
	<string>ms-BN</string>
	<key>马来 -马来西亚</key>
	<string>ms-MY</string>
	<key>马拉地语 -印度</key>
	<string>mr-IN</string>
	<key>蒙古 -蒙古</key>
	<string>mn-MN</string>
	<key>挪威 (Bokm?l) - 挪威</key>
	<string>nb-NO</string>
	<key>挪威 (Nynorsk)- 挪威</key>
	<string>nn-NO</string>
	<key>波兰 -波兰</key>
	<string>pl-PL</string>
	<key>葡萄牙 -巴西</key>
	<string>pt-BR</string>
	<key>葡萄牙 -葡萄牙</key>
	<string>pt-PT</string>
	<key>Punjab 语</key>
	<string>pa</string>
	<key>Punjab 语 -印度</key>
	<string>pa-IN</string>
	<key>罗马尼亚语 -罗马尼亚</key>
	<string>ro-RO</string>
	<key>俄国 -俄国</key>
	<string>ru-RU</string>
	<key>梵文 -印度</key>
	<string>sa-IN</string>
	<key>塞尔维亚 -(西里尔字母的) 塞尔维亚共和国</key>
	<string>sr-SP-Cyrl</string>
	<key>塞尔维亚 (拉丁文)- 塞尔维亚共和国</key>
	<string>sr-SP-Latn</string>
	<key>斯洛伐克 -斯洛伐克</key>
	<string>sk-SK</string>
	<key>斯洛文尼亚 -斯洛文尼亚</key>
	<string>sl-SI</string>
	<key>西班牙 -阿根廷</key>
	<string>es-AR</string>
	<key>西班牙 -玻利维亚</key>
	<string>es-BO</string>
	<key>西班牙 -智利</key>
	<string>es-CL</string>
	<key>西班牙 -哥伦比亚</key>
	<string>es-CO</string>
	<key>西班牙 - 哥斯达黎加</key>
	<string>es-CR</string>
	<key>西班牙 - 多米尼加共和国</key>
	<string>es-DO</string>
	<key>西班牙 -厄瓜多尔</key>
	<string>es-EC</string>
	<key>西班牙 - 萨尔瓦多</key>
	<string>es-SV</string>
	<key>西班牙 -危地马拉</key>
	<string>es-GT</string>
	<key>西班牙 -洪都拉斯</key>
	<string>es-HN</string>
	<key>西班牙 -墨西哥</key>
	<string>es-MX</string>
	<key>西班牙 -尼加拉瓜</key>
	<string>es-NI</string>
	<key>西班牙 -巴拿马</key>
	<string>es-PA</string>
	<key>西班牙 -巴拉圭</key>
	<string>es-PY</string>
	<key>西班牙 -秘鲁</key>
	<string>es-PE</string>
	<key>西班牙 - 波多黎各</key>
	<string>es-PR</string>
	<key>西班牙 -西班牙</key>
	<string>es-ES</string>
	<key>西班牙 -乌拉圭</key>
	<string>es-UY</string>
	<key>西班牙 -委内瑞拉</key>
	<string>es-VE</string>
	<key>Swahili-肯尼亚</key>
	<string>sw-KE</string>
	<key>瑞典 -芬兰</key>
	<string>sv-FI</string>
	<key>瑞典 -瑞典</key>
	<string>sv-SE</string>
	<key>Syriac-叙利亚共和国</key>
	<string>syr-SY</string>
	<key>坦米尔 -印度</key>
	<string>ta-IN</string>
	<key>Tatar-俄国</key>
	<string>tt-RU</string>
	<key>Telugu-印度</key>
	<string>te-IN</string>
	<key>泰国 -泰国</key>
	<string>th-TH</string>
	<key>土耳其语 -土耳其</key>
	<string>tr-TR</string>
	<key>乌克兰 -乌克兰</key>
	<string>uk-UA</string>
	<key>Urdu-巴基斯坦</key>
	<string>ur-PK</string>
	<key>Uzbek-(西里尔字母的) 乌兹别克斯坦</key>
	<string>uz-UZ-Cyrl</string>
	<key>Uzbek(拉丁文)- 乌兹别克斯坦</key>
	<string>uz-UZ-Latn</string>
	<key>越南 -越南</key>
	<string>vi-VN</string>
	<key>公用荷兰语 - 南非</key>
	<string>af-ZA</string>
	<key>阿尔巴尼亚 -阿尔巴尼亚</key>
	<string>sq-AL</string>
	<key>阿拉伯语 -阿尔及利亚</key>
	<string>ar-DZ</string>
	<key>阿拉伯语 -巴林</key>
	<string>ar-BH</string>
	<key>阿拉伯语 -埃及</key>
	<string>ar-EG</string>
	<key>阿拉伯语 -伊拉克</key>
	<string>ar-IQ</string>
	<key>阿拉伯语 -约旦</key>
	<string>ar-JO</string>
	<key>阿拉伯语 -科威特</key>
	<string>ar-KW</string>
	<key>阿拉伯语 -黎巴嫩</key>
	<string>ar-LB</string>
	<key>阿拉伯语 -利比亚</key>
	<string>ar-LY</string>
	<key>阿拉伯语 -摩洛哥</key>
	<string>ar-MA</string>
	<key>阿拉伯语 -阿曼</key>
	<string>ar-OM</string>
	<key>阿拉伯语 -卡塔尔</key>
	<string>ar-QA</string>
	<key>阿拉伯语 - 沙特阿拉伯</key>
	<string>ar-SA</string>
	<key>阿拉伯语 -叙利亚共和国</key>
	<string>ar-SY</string>
	<key>阿拉伯语 -北非的共和国</key>
	<string>ar-TN</string>
	<key>阿拉伯语 - 阿拉伯联合酋长国</key>
	<string>ar-AE</string>
	<key>阿拉伯语 -也门</key>
	<string>ar-YE</string>
	<key>亚美尼亚的 -亚美尼亚</key>
	<string>hy-AM</string>
	<key>Azeri-(西里尔字母的) 阿塞拜疆</key>
	<string>az-AZ-Cyrl</string>
	<key>Azeri(拉丁文)- 阿塞拜疆</key>
	<string>az-AZ-Latn</string>
	<key>巴斯克 -巴斯克</key>
	<string>eu-ES</string>
	<key>Belarusian-白俄罗斯</key>
	<string>be-BY</string>
	<key>保加利亚 -保加利亚</key>
	<string>bg-BG</string>
	<key>嘉泰罗尼亚 -嘉泰罗尼亚</key>
	<string>ca-ES</string>
	<key>华 - 香港的 SAR</key>
	<string>zh-HK</string>
	<key>华 - 澳门的 SAR</key>
	<string>zh-MO</string>
	<key>华 -中国</key>
	<string>zh-CN</string>
	<key>华 (单一化)</key>
	<string>zh-CHS</string>
	<key>华 -新加坡</key>
	<string>zh-SG</string>
	<key>华 -台湾</key>
	<string>zh-TW</string>
	<key>华 (传统的)</key>
	<string>zh-CHT</string>
	<key>英国 -澳洲</key>
	<string>en-AU</string>
	<key>英国 -伯利兹</key>
	<string>en-BZ</string>
	<key>英国 -加拿大</key>
	<string>en-CA</string>
	<key>英国 -加勒比海</key>
	<string>en-CB</string>
	<key>英国 -爱尔兰</key>
	<string>en-IE</string>
	<key>英国 -牙买加</key>
	<string>en-JM</string>
	<key>英国 - 新西兰</key>
	<string>en-NZ</string>
	<key>英国 -菲律宾共和国</key>
	<string>en-PH</string>
	<key>英国 - 南非</key>
	<string>en-ZA</string>
	<key>英国 - 千里达托贝哥共和国</key>
	<string>en-TT</string>
	<key>英国 - 英国</key>
	<string>en-GB</string>
	<key>英国 - 美国</key>
	<string>en-US</string>
	<key>英国 -津巴布韦</key>
	<string>en-ZW</string>
</dict>
</plist>
